*{margin: 0px; padding: 0%;}

#box{
    height: 250px;
    width: 250px;
    background-color: red;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

p{
    margin-left: 42%;
    margin-top: 37%;
    font-size: 25px;
    font-weight: bold;
}